<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div>
      <div class="text-center max-w-4xl mx-auto">
        <div class="sm:flex sm:justify-center">
          <div
            class="relative rounded-full py-1 px-3 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-indigo-700">
            <a
              href="#features"
              class="font-semibold text-black"
              ><span class="absolute inset-0" aria-hidden="true"></span>
              <span class="block lg:inline">
                Features galore, check 'em out! <span aria-hidden="true"
                  >&rarr;</span
                >
              </span>
            </a>
          </div>
        </div>
        <p
          class="text-indigo-600 mt-8 font-extrabold lg:text-5xl text-4xl tracking-tight">
          Your parish office, simplified.
        </p>
        <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          Effortlessly schedule events & rooms, take RSVPs, send out invitations to your guests and so much more!
        </p>
      </div>
      <div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">
        <a
          class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex duration-200 text-black lg:w-auto px-6 py-3 text-center text-black/80 w-full border"
          href="https://app.catholicoffice.com/dashboard">Login</a
        >
        <a
          class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-indigo-600 border-2 border-indigo-600 duration-200 focus-visible:ring-indigo-600 hover:bg-transparent hover:border-indigo-600 hover:text-indigo-600 lg:w-auto px-6 py-3 text-center text-white w-full"
          href="/contact"
          >Contact Us &nbsp; &rarr;
        </a>
      </div>
      <dl
        class="lg:gap-x-8 lg:grid-cols-3 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start">
        <div class="text-gray-500">
          <strong class="text-gray-700">
            Sick Calls
          </strong> 
          ━ Priest running to the hospital for last rites? Logged.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">
            Invites & RSVPs
          </strong> 
          ━ (Expected June 2025) Send invites, receive RSVPs. Know who and how many are attending your events.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">
            Mass Intentions
          </strong> 
          ━ (In development) Your parishioners can reserve and donate for Mass intentions from the comfort of their own home.
        </div>
      </dl>
    </div>
    <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
      <div class="bg-gray-100 p-8 rounded-3xl" style="">
        <div class="grid grid-cols-2 gap-0.5 md:grid-cols-5">
          <div class="flex justify-center col-span-1 ">
            <img alt="logo" class="h-12" src="/icon_laravel.png" />
          </div>
          <div class="flex justify-center col-span-1 ">
            <img alt="logo" class="h-12" src="/icon_vscode.png" />
          </div>
          <div class="flex justify-center col-span-1 ">
            <img alt="logo" class="h-12" src="/icon_github.png" />
          </div>
          <div class="flex justify-center col-span-1 ">
            <img alt="logo" class="h-12" src="/icon_js.png" />
          </div>
          <div class="flex justify-center col-span-1 ">
            <img alt="logo" class="h-12" src="/icon_php.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
