<section class="bg-gray-100">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-3xl lg:text-center">
      <div>
        <div class="mb-4 sm:flex sm:justify-center">
          <div
            class="bg-white relative rounded-full py-1 px-3 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-indigo-700">
           <span class="absolute inset-0" aria-hidden="true"></span>
              <span class="block lg:inline">
                Feature Highlight
              </span>
            </a>
          </div>
        </div>
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter">
          Accept 
          <span class=" text-indigo-600 lg:block">
            Mass Intentions
          </span> Online
        </p>
      </div>
    </div>
    <div class="mx-auto pt-12">
      <div
        class="mx-auto w-full gap-10 grid grid-cols-1 lg:gap-20 lg:grid-cols-3">
        <div class="border-0 bg-white rounded-lg p-6">
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-6 w-6"
                name="card-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Apple and Google Pay
            </p>
          </div><p class="text-gray-500 text-sm mt-4">
            By leveraging Swipe's API, we're able to help you accept all major credit cards, ACH, wire transfers, AND Apple Pay and Google Pay!
          </p>
        </div>
        <div class="border-0 bg-white rounded-lg p-6">
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-6 w-6"
                name="lock-closed-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Custom Rules
            </p>
          </div><p class="text-gray-500 text-sm mt-4">
            You decide what rules are enforced when parishioners reserve a Mass Intention. Only one intention request per week, never the same intention more than once a month, only open the next month after this month has closed, you name it. You're in charge.
          </p>
        </div>
        <div class="border-0 bg-white rounded-lg p-6">
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-6 w-6"
                name="calendar-outline"
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Mass Intentions
            </p>
          </div><p class="text-gray-500 text-sm mt-4">
            Mass Intentions are a vital part of parish ministry. Making it easy to access for homebound parishioners, young parishioners, and even people who watch your livestream from out of state is just good stewardship.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
