<section id="features">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-2xl text-center">
      <div>
        <p class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter">
          Like features? 
          <span class="lg:block"> 
            We've gottem.
          </span>
        </p>
        <p class="mt-4 text-lg max-w-xl mx-auto tracking-tight text-gray-500">
          This is up-to-date as of right now, but trust me when I tell you, 
          <span class="lg:block font-bold">there's more to come.</span>
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2><div>
          <div
            class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3">
            <div>
              <div>
                <div
                  class="items-center justify-center text-indigo-600 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-6 w-6"
                    name="calendar-number-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Event Booking
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Every staff member, and any volunteers you grant access to, are able to book rooms and schedule events for the parish or their particular ministry.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-indigo-600 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-6 w-6"
                    name="sad-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Conflict Detection
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                We keep watch over your events, detecting and preventing conflicts between events and their room reservations so you don't have to.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-indigo-600 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-6 w-6"
                    name="checkmark-circle-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Multi-level Approval System
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Staff/volunteers submit event requests to their immediate supervisor, who then approves at their level before it makes its way to the Calendar Administrator for final approval.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-indigo-600 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-6 w-6"
                    name="mail-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Automatic Reminders
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Constantly forgetting you have a Confirmation Class the 3rd Sunday of the month? We'll be sure to remind you ahead of time. All events have email reminders built-in.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-indigo-600 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-6 w-6"
                    name="archive-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  RSVPs
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Need a headcount for who's coming to your next event? No need to rely on the <span class="italic">ad-supported</span> options out there. We offer this as an option for every event you book. 
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-indigo-600 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-6 w-6"
                    name="send-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Invitations
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Just as important as your RSVPs are the invitations you send out. Design on CANVA, or any other platform, upload to our servers, and we'll send out those emails to all or part of your contact list.
              </div>
            </div>
            <div>
              <div>
                <div
                  class="items-center justify-center text-indigo-600 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-6 w-6"
                    name="medkit-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Sick Calls
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                We make tracking sick calls, and notifying the priests and extraordinary ministers a breeze. All handled online with a few clicks.
              </div>
            </div>
            <div>
              <div>
                <div
                  class="items-center justify-center text-indigo-600 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-6 w-6"
                    name="list-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Event Log
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                When one receptionist is ending their shift and the next is starting, what information needs to get passed on? We've built an intuitive platform for just this scenario. Key logs, sick calls, irate callers, someone's coming to drop something off, whatever the case, we got you covered.
              </div>
            </div>
            <div>
              <div>
                <div
                  class="items-center justify-center text-indigo-600 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-6 w-6"
                    name="add-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Mass Intentions
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                A constant complaint from younger parishioners is the inability to request Masses online. Every parish has unique requirements, like only allowing the next 3 months to be requested, or only one request per parishioner per week, or you name it. Set your own rules, sitback, and let our system take care of the rest.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
