<section aria-labelledby="faq-title" id="faq">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div>
      <div class="max-w-2xl">
        <p
          class="text-indigo-600 font-extrabold lg:text-5xl text-4xl tracking-tight">
          Frequently Asked Questions
        </p>
        <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          Because who doesn't have questions?
        </p>
      </div>
      <div class="mt-12 space-y-12 divide-y-2">
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              What exactly does Catholic Office do?
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-gray-500 text-sm">
              Catholic Office has a number of features, but its primary focus is on master calendaring. If you've ever worked at a place with a bunch of meeting rooms,
              you probably have some experience with scheduling rooms for your meetings. Someone somewhere has to keep track of all the meetings that take place to make 
              sure that two meetings aren't trying to happen at the same time. Catholic Office aims to handle this for you. Gone are the days of keeping a paper (or Google!) calendar
              of all events taking place, and painstakingly hand writing down all the details of every single one. We handle conflict detection, room booking, event requests, 
              registrations, RSVPs, and a host of other things!
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              Who runs this?
            </span>
          </div>
          <div class="space-y-4 lg:col-span-2">
            <p class="text-gray-500 text-sm">
              Catholic Office is owned, operated, and developed by a Catholic priest in his free time.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              How much does this calendaring service cost?
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-gray-500 text-sm">
              We try to keep costs low by pooling resources for our clients. We charge a nominal fee of $30/mo which includes unlimited users, events, and access to any new features we release.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              Where can I find help or customer support?
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-gray-500 text-sm">
              If you're already a subscriber, or you're just interested in the inner workings of the service, you can head over to our help docs <a class="underline" href="https://catholicoffice.com/docs">here</a>.
            </p>
            <p class=" pt-2 text-gray-500 text-sm">
              For customer support, you'll need to send us an email! We don't publish that publicly (too much spam), so you'll need to login, or check your inbox for an email we've sent you in the past to get access to that info. 
              Just reply to any email you've recevied from us and you'll be in communcation with us in no time.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
